@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

@layer components {
  .product-grid {
    @apply flex flex-row flex-wrap gap-y-5
  }
}

@layer utilities {

  .rating-star {
    width: 80px;
    height: 13px;
    background: url('../src/img/Star-filled.svg');
    background-size: 16px;
    position:relative;
    z-index: 2;
  }

  .rating-star::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width: 80px;
    background: url('../src/img/Star.svg');
    background-size: 16px;
  }
}
